:root {
  box-sizing: border-box;
  font-family: akshar, sans-serif;
  font-size: calc(0.3em + 1vw);
  --light-gray: hsla(2.5deg, 5%, 95%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: hsl(210, 80%, 20%);
}

.wrapper {
  max-width: 60vw;
  margin: 0 auto;
  background-color: white;
  padding: 0.5em;
  /* transform: translate(-40px, 0); */
  /* transform: scale(1.5); */
  /* transform: rotate(10deg); */
}

.wrapper:hover {
  transform-origin: bottom center;
  transform: rotate(30deg);
}

img {
  width: 100%;
}
