:root {
    box-sizing: border-box;
}

*, ::before,
::after {
    box-sizing: inherit;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap:0.5em;
}

/* Direct children of grid class*/
.grid > * {
  background-color: darkgray;
  color: white;
  padding: 2em;
  border-radius: 0.5em;
}
