body {
  font-family: Akshar, Arial, sans-serif;
  margin: 0;
  min-height: 200vh;
}

.top-banner {
  background-color: #ffd698;
  padding: 1em 0;
}

button {
  padding: 0.25em 0.5em;
  border: 0.5px solid #8d8d8d;
  font-size: 0.9em;
  background-color: #fff;
  margin-left: 1.5em;
  font: akshar;
}

.top-banner-inner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  width: 80%;
  margin-left: 16.5vw;
}

.modal {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-body {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 3em;
  background-color: white;
  padding: 2em 3em;
  z-index: 2;
  overflow: auto;
}

.modal-close {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  text-indent: 3em;
  font-size: 2em;
  border: 0;
  cursor: pointer;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

.modal-close::after {
  position: absolute;
  top: 0.3em;
  text-indent: 0;
  line-height: 0.5;
  content: "\00D7";
}
